<div class="d-block-sp logo-footer-sp"><img src="./images/logo_footer_sp.png" alt=""/></div>
<div class="inner">
    <div class="logo-footer d-block-pc"><img src="./images/logo_footer.png" alt=""/></div>
    <ul class="menu-footer">
        <li><a href="./instrument.html">貸与楽器</a></li>
        <li><a href="./support.html">助成事業</a></li>
        <li><a href="./form.php">お問い合わせ</a></li>
        <li><a href="./aboutus.html">運営団体</a></li>
    </ul>
    <!--/#footermenu-->

    <div id="copyright">
        <small>Copyright&copy; <a href="index.html">山田音楽財団<span style="margin-right: 1em;"></span>Yamada Music Foudation</a> All Rights Reserved.<a href="https://yasuhisatohma.sakura.ne.jp/"></a></small>
    </div>
    <!--/#copyright-->

    <p class="nav-fix-pos-pagetop"><a href="javascript:void(0)" class="gotop"><img src="./images/top.png" alt="Go top"/></a></p>
</div>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"><span></span><span></span><span></span></div>